.likes {
    border-bottom: 4px dotted #000000;
}

.top {
    border: solid 2px;
    width: 130px;

}

.profile {
     display: flex;
    flex-direction: row;
    background-image: url(https://cdn.pakutaso.com/shared/img/thumb/aig-ai230605023-xl_TP_V.jpg);
    height: 150px;
    background-size:cover ;
    
    
}
.intro {
    border: solid 3px ;
    
}

#icon {
    width: 30%;

}

body {
    background-size: cover;
   
}