.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #47b5e7;
}
.box {
  display: flex;
  gap: 16px;
  align-items: center;
}
h1 {
  color: coral;
  text-shadow: 2px 2px 2px;
}